.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  padding: 0 1.5rem;
  flex: 1;
  max-height: 65px;
  border-top: 2px solid #ff7c2b;
  justify-content: space-between;
  align-items: center;
}

.generateButton {
  height: 41px;
  padding: 0 2rem;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  background-color: #2363e4;
  box-shadow: 0 2px 10px 0 rgb(0 118 255 / 39%);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-out;
  letter-spacing: 0.2px;
}

.generateButton:hover {
  background-color: #1e54c9;
  box-shadow: 0 4px 15px 0 rgb(0 118 255 / 39%);
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #6f3fc7;
  }
}
